<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>120612264281-rfm5rj53f75on9nt67qa8qags7dg2k1v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.120612264281-rfm5rj53f75on9nt67qa8qags7dg2k1v</string>
	<key>API_KEY</key>
	<string>AIzaSyDD-JJZvQgl9UPF_x-8N-VypLzZW0tsHF8</string>
	<key>GCM_SENDER_ID</key>
	<string>120612264281</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.autenticacao</string>
	<key>PROJECT_ID</key>
	<string>curso-flutter-ufpa-05</string>
	<key>STORAGE_BUCKET</key>
	<string>curso-flutter-ufpa-05.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:120612264281:ios:1d0ae0222c53e1008a1448</string>
</dict>
</plist>